{% load staticfiles %}

<!DOCTYPE HTML>

<html>
    <head>
        <title>
        {% block title %}
        {% endblock %}
        </title>

        <link href='http://fonts.googleapis.com/css?family=Quicksand:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{% static 'normalize.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

        {% block head %}
        {% endblock %}
    </head>

    <body>

        <a href="https://github.com/stett/check-my-logic">
            <img style="position: absolute; top: 0; right: 0; border: 0;"
                 src="{% static 'forkme.png' %}">
        </a>

        <div id="content">
        {% block content %}
        {% endblock %}
        </div>

        {% block foot %}
        {% endblock %}
    </body>
</html>